<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Stallion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style type="text/css">
        table td, table td * {
    vertical-align: top;
}
</style>
</head>
<body style="background:#F0F3F0;">
<center>
    <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
            </td>
        </tr>
 </table>
<div style="background-color: #ffffff; width: 680px; padding:0px 0px 0px 0px; height:auto;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style=" border-spacing: 0px; ">
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="594" align="center" style="padding: 30px 0px 0px 0px;">
            <tr>
                <td style="padding:0px; margin: 0px;">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24"/></a>
                </td>
                <td align="right">
                    <p style="margin: 0px; padding:0px 30px 0px 0px;"><a href="{{portalUrl}}" style="margin: 0px; padding:0px; text-decoration: none; color:#005632; font-family: Arial; font-size: 15px; font-weight: 500; line-height: 18px;">Visit website <img src="{{imgPath}}/arrow.png" style="margin-top: 3px;"/></a></p>
                </td>
            </tr>
        </table>
    </td>
            
        </tr>
        <tr>
            <td style="background-image: url({{imgPath}}/farm-bg.png); background-repeat: no-repeat; background-position: top right; width: 606px; height: auto;">
                <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center" >
                    <tr>
                        <td>
                            <h1 style="margin: 0; padding: 50px 0px 10px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">We have received your request</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style=" margin: 0; padding: 30px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">We appreciate your request to include <strong>{{stallionName}}</strong> in <strong>{{farmName}}</strong>. Our team is presently in the process of reviewing your request. Once it receives approval, you will be able to view your stallion on your Farm Dashboard.</p>
                <p style=" margin: 0; padding: 25px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;"> Should any complications arise, we will promptly contact you to request additional information.</p>
                <p style=" margin: 0; padding: 25px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Sincerely,</p>
                <p style=" margin: 0; padding: 25px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Stallion Match Support</p>
                        </td>  
                    </tr> 
                    <tr>
                        <td height="80px">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="680" align="center" style="background-image: url({{imgPath}}/bottomTiles.png); background-repeat: no-repeat; background-position: top right; background-color: #1D472E; height: 94px;">
            <tr>
                <td> 
                    <table cellspacing="0" cellpadding="0" vertical-align='top' width="600" align="center" >
                        <tr>
                            <td style="padding-top: 13px;">
                                <a href="{{facebookUrl}}"><img src="{{imgPath}}/facebook.png" alt="Facebook" style="padding: 10px 20px 8px 0px; width:12px; height:23px;"></a>
                                <a href="{{twitterUrl}}"><img src="{{imgPath}}/twitter.png" alt="Twitter" style="padding: 10px 10px 8px 0px; margin-top: 2px; width:23px; height:19px;"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin: 0px; padding: 3px 0px 0px 0px; font-family: Arial; font-size:12px; color: #ffffff; line-height:16px;">Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</div>
</center>
</body>
</html>