<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style type="text/css">
    table td, table td * {
vertical-align: top;
}
</style>

</head>
<body style="background-color: #E5E5E5;">
<center>
<div style="background-color: #ffffff; width: 680px;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style="background-color: #ffffff; border-spacing: 0px; border: solid 1px #d4d4d4;">
<tr>
    <td>
        <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
                <tr>
                    <td>
                        <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
                    </td>
                </tr>
         </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="594" align="center" style="padding: 30px 0px;">
            <tr>
                <td style="padding:0px; margin: 0px;">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24" style="width:135px; height:24px;"/></a>
                </td>
                <td align="right">
                    <p style="margin: 0px; padding:0px;"><a href="{{portalUrl}}" style="margin: 0px; padding:0px; text-decoration: none; color:#005632; font-family: Arial; font-size: 15px; font-weight: 500; line-height: 18px;">Visit website <img src="{{imgPath}}/arrow.png" style="margin-top: 3px;"/></a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="background-image: url({{imgPath}}/ReportBG.png); background-repeat: no-repeat; background-position: top right; width: 606px; height: auto;">
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center">
            <tr>
                <td>
                    <h1 style="margin: 0; padding: 20px 0px 15px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">Powerful insights<br/> drive success</h1>
                    <p style="margin: 0px; padding:0px 0px 35px 0px; font-family: Arial; font-size:18px; font-weight: 400; color: #515759; line-height: 27px;">Thank you for requesting our Inbreeding insights report where you will find a host of valuable information.<br/> Register your Arialest now and start backing your<br> decisions with data.</p>
                    <p style="margin: 0px; padding:0px;">
                         <a href="{{downloadReport}}" style="text-decoration:none;display:inline-block;padding:0px 24px; height:52px; border-radius:4px; font-family: Arial; background-color:#1D472E;color:#2EFFB4; border: none; font-size:20px; line-height: 50px;">Download Report <img src="{{imgPath}}/Download.png" style="margin-top: 18px; margin-left: 8px;"/></a>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center" style="border-top: solid 1px #DFE1E4; padding-top: 50px; margin-top: 50px;">
            <tr>
                <td align="center"><img src="{{imgPath}}/StallionPageEx.png" alt='StallionPage_Ex' width="120" height="120" style="width:120px; height: 120px;"/></td>
                <td>
                    <h2 style="margin: 0px;  padding:15px 0px 5px 10px; font-family: Arial; font-size:18px; color:#0C1014; font-weight: 700; line-height: 22px;">Stallion Directory</h2>
                    <p style="margin: 0px;  padding:0px 30px 0px 10px; font-family: Arial; font-size: 14px; color: #515759; font-weight: 400; line-height: 20px;">World-wide stallion directory with direct access to many farms</p>
                </td>
                <td align="center"><a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/next.png" alt="" width="38" height="38" style="margin-top:35px; width:38px; height:38px;"/></a></td>
            </tr>
            <tr>
                <td align="center"><img src="{{imgPath}}/StallionRosterEx.png" alt='StallionRosterEx' width="120" height="120" style="width:120px; height: 120px;"/></td>
                <td>
                    <h2 style="margin: 0px;  padding:15px 0px 5px 10px; font-family: Arial; font-size:18px; color:#0C1014; font-weight: 700; line-height: 22px;">Access Data</h2>
                    <p style="margin: 0px;  padding:0px 30px 0px 10px; font-family: Arial; font-size: 14px; color: #515759; font-weight: 400; line-height: 20px;">Rich data delivered simply in real-time related to all bredding aspects</p>
                </td>
                <td align="center"><a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/next.png" alt="" width="38" height="38" style="margin-top: 35px; width:38px; height:38px;"/></a></td>
            </tr>
            <tr>
                <td align="center"><img src="{{imgPath}}/StallionSearch.png" alt='StallionSearch' width="120" height="120" style="width:120px; height:120px;"/></td>
                <td>
                    <h2 style="margin: 0px;  padding:15px 0px 5px 10px; font-family: Arial; font-size:18px; color:#0C1014; font-weight: 700; line-height: 22px;">Analysis</h2>
                    <p style="margin: 0px;  padding:0px 30px 0px 10px; font-family: Arial; font-size: 14px; color: #515759; font-weight: 400; line-height: 20px;">Use the efficiencies of machine learning to determine the effectiveness of any hypothetical mating</p>
                </td>
                <td align="center"><a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/next.png" alt="" width="38" height="38" style="margin-top: 35px;"/></a></td>
            </tr>
            <tr>
                <td align="center"><img src="{{imgPath}}/KeyStatistics.png" alt='KeyStatistics' width="120" height="120"/></td>
                <td>
                    <h2 style="margin: 0px;  padding:15px 0px 5px 10px; font-family: Arial; font-size:18px; color:#0C1014; font-weight: 700; line-height: 22px;">Value</h2>
                    <p style="margin: 0px;  padding:0px 30px 0px 10px; font-family: Arial; font-size: 14px; color: #515759; font-weight: 400; line-height: 20px;">Become a registered user FREE and promote your stallion for a small fee.</p>
                </td>
                <td align="center"><a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/next.png" alt="" width="38" height="38" style="margin-top: 35px;"/></a></td>
            </tr>
        
        </table>
    </td>
</tr>
<tr>
    <td align="center" style="padding: 40px 0px;">
        <a href="{{portalUrl}}" style="text-decoration:none;display:inline-block;padding:0px 24px; height: 52px;border-radius:4px; background-color:#1D472E;color:#2EFFB4; border: none;  font-family: Arial; font-weight: 400;; font-size:20px; letter-spacing: 0.02rem; line-height: 50px;">Register Your Arialest in Stallion Match</a>
    </td>
</tr>
<tr>
    <td valign="middle">
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center" style="border-top: solid 1px #DFE1E4; margin-top: 20px;">
            <tr>
                <td style="padding-top: 20px;">       
                    <!-- <p style="font-family: Arial; font-size:14px; color:#B1BCC0; text-align: center; padding: 15px 0px; line-height: 24px;">
                    If you prefer not to receive emails like this, you may <a href="{{portalUrl}}" style="color:#B1BCC0; text-decoration: underline;">Manage</a> Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved. </p> -->
                    <p style="font-family: Arial; font-size:14px; color:#B1BCC0; text-align: center; padding: 15px 0px; line-height: 24px;">Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved. </p>
                </td>
                
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="padding-bottom: 20px;" align="center">
        <a href="{{facebookUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/FB-Icon.png" alt="Facebook" width="12" height="23" style="padding: 10px; width:12px; height:23px;"></a>
        <a href="{{twitterUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/Twitter-Icon.png" alt="Twitter" width="23" height="19" style="padding: 10px; margin-top: 2px; width:23px; height:19px;"></a>
    </td>
</tr>
</table>
</div>
</center>
</body>
</html>