<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset My Password Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style type="text/css">
        table td, table td * {
    vertical-align: top;
}
</style>
</head>
<body style="background:#F0F3F0;">
<center>
    <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
            </td>
        </tr>
 </table>
<div style="background-color: #ffffff; width: 680px; padding:0px 0px 0px 0px; height:auto;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style=" border-spacing: 0px; ">
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="594" align="center" style="padding: 30px 0px;">
            <tr>
                <td style="padding:0px; margin: 0px;">
                     <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24" style="width:135px; height:24px;"/></a>
                </td>
                <td align="right">
                    <p style="margin: 0px; padding:0px 30px 0px 0px;"><a href="{{portalUrl}}" style="margin: 0px; padding:0px; text-decoration: none; color:#005632; font-family: Arial; font-size: 15px; font-weight: 500; line-height: 18px;">Visit website <img src="{{imgPath}}/arrow.png" style="margin-top: 3px;"/></a></p>
                </td>
            </tr>
        </table>
    </td>
            
        </tr>
        <tr>
            <td >
                <table cellspacing="0" cellpadding="0" vertical-align='top' width="600" align="center" style="background-image: url({{imgPath}}/images/resetpw-bg.png); background-repeat: no-repeat; background-position: top right; height: auto; padding-left:50px;" >
                    <tr>
                        <td>
                            <h1 style="margin: 0; padding: 20px 0px 15px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">Password Changed Successfully</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style=" margin: 0; padding: 20px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Hello {{userName}},</p>
                <p style=" margin: 0; padding: 25px 0px 50px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Your password has been changed successfully.
                </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:60px;">
                            <p style=" margin: 0; padding: 20px 0px 0px 0px; font-family: Arial; font-size:18px; font-weight: 700; color: #515759; line-height:27px;">Thank You,</p>
                            <p style=" margin: 0; padding: 0px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">
                                Stallion Match Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
<tr>
    <td valign="middle"> 
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="100%" style= "background-color: #F0F3F0;">
             <tr>
                <td style="padding: 3rem 0px 0px 0px;" align="center">
                    <a href="{{facebookUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/facebook-dark.png" alt="Facebook" width="12" height="23" style="padding: 10px; width:12px; height:23px;"></a>
                    <a href="{{twitterUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/twitter-dark.png" alt="Twitter" width="23" height="19"  style="padding: 10px; margin-top: 2px; width:23px; height:19px;"></a>
                </td>
            </tr>
            <tr>
                <td style="padding: 3rem 3rem 0 3rem;">       
                    {{!-- <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 0px; margin: 0px;">
                        You can <a href="#" style="color:#626E60; text-decoration: underline;">Manage</a> your notifications to control what you receive.</p> --}}
                    <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 2px 0px 0px 0px; margin: 0px;"> Copyright ©2021 G1 Racesoft Pty Ltd. All rights reserved.</p>
                </td>
                
            </tr>
            <tr>
                <td style="padding: 2rem 3rem 0 3rem;">       
                    <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 0px; margin: 0px;">
                        <a href="{{portalUrl}}/about/privacy-policy" style="color:#626E60; text-decoration: underline; padding: 0px 25px;">Privacy</a>  <a href="{{portalUrl}}/user/profile" style="color:#626E60; text-decoration: underline;  padding: 0px 25px;">Account</a> </p>
                </td>
                
            </tr>
            <tr>
                <td align="center" style="padding:2rem 0">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/footer-stallionlogo.png" alt="Stallion Logo" width="200" height="35" style="padding: 10px; width:200px; height:35px;"></a>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</div>
</center>
</body>
</html>