<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style type="text/css">
        table td, table td * {
    vertical-align: top;
}
    </style>
    
</head>
<body style="background:#F0F3F0;">
<center>
    <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
            </td>
        </tr>
 </table>
 <div style="background-color: #ffffff; width: 680px; padding:0px 0px 0px 0px; height:auto;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style="background-color: #ffffff; border-spacing: 0px;">
<tr>
    <td style="border-spacing: 0;">
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="680" align="center">
            <tr>
                <td style="padding:15px 0px 0px 40px;">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24" style="width:135px; height:24px;"/></a>
                    <h1 style="margin: 0; padding: 20px 0px 15px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">Registration<br/>Successful</h1>
                    <p style="margin: 0; padding: 20px 0px 0px 0px; font-family: Arial; font-size:14px; font-weight: 400; color: #161716; line-height:25px;">Hello <span>{{fullName}}</span>, your farm has successfully registered its Arialest in the new Stallion Match. We will contact you shortly to ensure your farm and stallions will be ready come launch day.</p>
                </td>
                <td align="right">
                    <img src="{{imgPath}}/SuccessFarm.jpg" alt="Stallion Breeder" width="339" height="388"/>
                </td>
            </tr>
           
        </table>
    </td>
</tr>
<tr>
    <td style="background-color:#1D472E; border-spacing: 0;">
<table width="400" align="center" style="padding: 40px 0px;">
<tr>
    <td>
        <p style="border-left: solid 4px #2EFFB4; font-family: Arial; font-size: 24px; font-weight: 700; color: #ffffff; padding-left: 30px; margin: 20px 0px;  line-height: 29px;">A simple farm/stallion marketing platform.</p>
    </td>
</tr>
<tr>
    <td>
        <p style="border-left: solid 4px #2EFFB4; font-family: Arial; font-size: 24px; font-weight: 700; color: #ffffff; padding-left: 30px; margin: 20px 0px;  line-height: 29px;">Track multiple stallion data points in real-time.</p>
    </td>
</tr>
<tr>
    <td>       
        <p style="border-left: solid 4px #2EFFB4; font-family: Arial; font-size: 24px; font-weight: 700; color: #ffffff; padding-left: 30px; margin: 20px 0px;  line-height: 29px;">Increase your network with our messenger platform.</p>
    </td>
</tr>
<tr>
    <td> 
        <p style="border-left: solid 4px #2EFFB4; font-family: Arial; font-size: 24px; font-weight: 700; color: #ffffff; padding-left: 30px; margin: 20px 0px;  line-height: 29px;">Easily add multiple team members.</p>
    </td>
</tr>
</table>
    </td>
</tr>
<tr>
    <td valign="middle">
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center">
            <tr>
                <td>       
                    <!-- <p style="font-family: Arial; font-size:14px; color:#B1BCC0; text-align: center; padding: 15px 0px; line-height: 24px;">
                    If you prefer not to receive emails like this, you may <a href="{{portalUrl}}" style="color:#B1BCC0; text-decoration: underline;">Manage</a> Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved. </p> -->
                    <p style="font-family: Arial; font-size:14px; color:#B1BCC0; text-align: center; padding: 15px 0px; line-height: 24px;">Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved. </p>
                </td>
                
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="padding-bottom: 20px;" align="center">
        <a href="{{facebookUrl}}"><img src="{{imgPath}}/FB-Icon.png" alt="Facebook" width="12" height="23" style="padding: 10px; width: 12px; height:23px;"></a>
        <a href="{{twitterUrl}}"><img src="{{imgPath}}/Twitter-Icon.png" alt="Twitter" width="23" height="19" style="padding: 10px; margin-top: 2px; width: 23px; height:19px;"></a>
    </td>
</tr>
</table>
</div>
</center>
</body>
</html>