<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renewal Reminder Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style type="text/css">
        table td, table td * {
    vertical-align: top;
}
</style>
</head>
<body style="background:#F0F3F0;">
<center>
    <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
            </td>
        </tr>
 </table>
<div style="background-color: #ffffff; width: 680px; padding:0px 0px 0px 0px; height:auto;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style=" border-spacing: 0px; ">
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="594" align="center" style="padding: 30px 0px;">
            <tr>
                <td style="padding:0px; margin: 0px;">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24" style="width:135px; height:24px;"/></a>
                </td>
                <td align="right">
                    <p style="margin: 0px; padding:0px 30px 0px 0px;"><a  href="{{portalUrl}}" style="margin: 0px; padding:0px; text-decoration: none; color:#005632; font-family: Arial; font-size: 15px; font-weight: 500; line-height: 18px;">Visit website <img src="{{imgPath}}/arrow.png" style="margin-top: 3px;"/></a></p>
                </td>
            </tr>
        </table>
    </td>
            
        </tr>
        <tr>
            <td style="background-image: url({{imgPath}}/ReportBG.png); background-repeat: no-repeat; background-position: top right; height: auto;" >
                <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center" >
                    <tr>
                        <td>
                            <h1 style="margin: 0; padding: 20px 0px 15px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">Friendly Reminder</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style=" margin: 0; padding: 10px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Hello {{farmAdminName}},</p>
                <p style=" margin: 0; padding: 25px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">We trust you are seeing the value of promoting your stallions on stallionmatch.com.
                </p>
                <p style=" margin: 0; padding: 20px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">As a friendly reminder, {{stallionName}} will be automatically renewed on {{renewalDate}}. If you wish to continue promoting him, no action is required. Please ensure his stud fee and marketing details are current.
                </p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <table cellspacing="0" cellpadding="0" vertical-align='top' width="510" align="center" style="margin-top: 50px; border-top: solid 1px #DFE1E4; border-bottom: solid 1px #DFE1E4; padding-top: 20px; padding-bottom: 10px;">
                                <tr>
                                    <td align="left" width="130"><img src="{{imgPath}}/StallionPageEx.png" alt='StallionPage_Ex' width="120" height="120"/></td>
                                    <td>
                                        <h2 style="margin: 0px;  padding:15px 0px 5px 0px; font-family: Arial; font-size:16px; color:#161716; font-weight: 400; line-height: 22px;"><b>Promoted Stallion</b> (Annual)</h2>
                                        <p style="margin: 0px;  padding:3px 30px 3px 0px; font-family: Arial; font-size: 16px; color: #626E60; font-weight: 400; line-height: 20px;">{{stallionName}}</p>
                                        <p style="margin: 0px;  padding:5px 30px 0px 0px; font-family: Arial; font-size: 16px; color: #1D472E; font-weight: 400; line-height: 20px;">Renews {{renewalDate}}</p>
                                    </td>
                                    <td align="right"> 
                                        <p style="margin: 0px;  padding:15px 0px 0px 0px; font-family: Arial; font-size:20px; color:#1D472E; font-weight: 400; line-height: 22px;">{{price}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:55px 0px 30px 0px;">
                            <a href="{{renewNow}}" style="font-family: Arial; text-decoration:none;display:inline-block; width: auto; height: 52px; padding:0px 50px;border-radius:4px;background-color:#1D472E;color:#2EFFB4; text-align: center; border: none; font-size:20px; letter-spacing: -0.01rem; line-height: 48px;">Renew Now</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:40px 0px;">
                            <p style=" margin: 0; padding: 10px 0px 0px 0px; font-family: Arial; font-size:18px; font-weight: 400; color: #515759; line-height:27px;">If you have any questions regarding the promotion of {StallionName}, please emails us as support@stallionmatch.com.</p>
                        </td>
                    </tr>
                    <tr>
                         <table cellspacing="0" cellpadding="0" vertical-align='top' width="510" align="center" style="padding-bottom:70px;">
                             <tr>
                           <td width="56">
                            <img src="{{imgPath}}/profile.png" alt='Profile'/>
                            </td>
                            <td align="left" style="padding-left:12px;">
                            <p style=" margin: 0; padding: 5px 0px 0px 0px; font-family: Arial; font-size:16px; font-weight: 700; color: #515759;">Matthew Ennis
                            </p>
                            <p style=" margin: 0; padding:0px; font-family: Arial; font-size:16px; font-weight: 400; color: #515759;">Managing Director</p>
                            </td>
                        </tr>
                        </table>
                    </tr>
                </table>
            </td>
        </tr>
<tr>
    <td valign="middle"> 
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="100%" style= "background-color: #F0F3F0;">
           <tr>
                <td style="padding: 3rem 0px 0px 0px;" align="center">
                    <a href="{{facebookUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/facebook-dark.png" alt="Facebook" width="12" height="23" style="padding: 10px; width:12px; height:23px;"></a>
                    <a href="{{twitterUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/twitter-dark.png" alt="Twitter" width="23" height="19"  style="padding: 10px; margin-top: 2px; width:23px; height:19px;"></a>
                </td>
            </tr>
            <tr>
                <td style="padding: 3rem 3rem 0 3rem;">       
                    {{!-- <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 0px; margin: 0px;">
                        You can <a href="#" style="color:#626E60; text-decoration: underline;">Manage</a> your notifications to control what you receive.</p> --}}
                    <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 2px 0px 0px 0px; margin: 0px;"> Copyright ©2021 G1 Racesoft Pty Ltd. All rights reserved.</p>
                </td>
                
            </tr>
            <tr>
                <td style="padding: 2rem 3rem 0 3rem;">       
                    <p style="font-family: Arial; font-size:14px; color:#626E60; text-align: center; padding: 0px; margin: 0px;">
                        <a href="{{portalUrl}}/about/privacy-policy" style="color:#626E60; text-decoration: underline; padding: 0px 25px;">Privacy</a>  <a href="{{portalUrl}}/user/profile" style="color:#626E60; text-decoration: underline;  padding: 0px 25px;">Account</a> </p>
                </td>
                
            </tr>
            <tr>
                <td align="center" style="padding:2rem 0">
                    <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/footer-stallionlogo.png" alt="Stallion Logo" width="200" height="35" style="padding: 10px; width:200px; height:35px;"></a>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</div>
</center>
</body>
</html>