<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe Email Template</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style type="text/css">
        table td, table td * {
    vertical-align: top;
}
</style>
</head>
<body style="background-color: #E5E5E5;">
<center>
<div style="background-color: #ffffff; width: 680px; padding:0px 0px 0px 0px; background-image: url({{imgPath}}/EmailBg.png); background-repeat: no-repeat; background-position: top right; height:auto; border: solid 1px #d4d4d4;">
<table width="100%" cellspacing="0" cellpadding="0" align="center" style=" border-spacing: 0px; ">
<tr>
    <td>
        <table align="center" cellspacing="0" cellpadding="0" style="width:594px; margin: 0px auto; border-bottom: dashed 2px #d4d4d4; border-spacing: 0px;">
                <tr>
                    <td>
                        <p style="font-family: Arial; font-size:12px; color:#999999; text-align: center; padding: 5px 0px;">If you are having problems viewing this in your email browser please <a href="{{extUrl}}" style="color:#999999;">click here</a></p>
                    </td>
                </tr>
         </table>
    </td>
</tr>
<tr>
    <table cellspacing="0" cellpadding="0" vertical-align='top' width="594" align="center">
        <tr>
            <td style="padding:15px 0px 25px 0px;">
                <a href="{{portalUrl}}" style="text-decoration: none;"><img src="{{imgPath}}/StallionLogo.png" alt="Stallion Match Logo" width="135" height="24" style="width:135px;"/></a>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center">
                    <tr>
                        <td>
                            <h1 style="margin: 0; padding: 20px 0px 15px 0px; font-family: Palatino Linotype; font-size:52px; color: #0C1014; font-weight: 400; letter-spacing:-1px; line-height: 64px; ">You’ll be missed</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style=" margin: 0; padding: 10px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">We’re sorry that we’re no longer your perfect match and hope to have you back soon.</p>
                <p style=" margin: 0; padding: 25px 0px 0px 0px; font-family: Arial; font-size:18px; color: #515759; line-height:27px;">Was this a mistake? Re-subscribe below.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:35px 0px 75px 0px;">
                            <a href="{{reSubscribeUrl}}" style="font-family: Arial; text-decoration:none;display:inline-block; width: 178px; height: 52px; padding:0px;border-radius:4px;background-color:#1D472E;color:#2EFFB4; text-align: center; border: none; font-size:20px; letter-spacing: -0.01rem; line-height: 48px;">Re-subscribe</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" vertical-align='top' width="100%" style="background-image: url({{imgPath}}/bottomTiles.png); background-repeat: no-repeat; background-position: top right; background-color: #1D472E; height: 94px;">
            <tr>
                <td> 
                    <table cellspacing="0" cellpadding="0" vertical-align='top' width="500" align="center" >
                        <tr>
                            <td style="padding-top: 13px;">
                                <a href="{{facebookUrl}}"><img src="{{imgPath}}/facebook.png" alt="Facebook" width="12" height="23" style="padding: 10px 20px 8px 0px;"></a>
                                <a href="{{twitterUrl}}"><img src="{{imgPath}}/twitter.png" alt="Twitter" width="23" height="19" style="padding: 10px 10px 8px 0px; margin-top: 2px;"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin: 0px; padding: 3px 0px 0px 0px; font-family: Arial; font-size:12px; color: #ffffff; line-height:16px;">Copyright ©2022 G1 Racesoft Pty Ltd. All rights reserved.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</div>
</center>
</body>
</html>